# ~/.gitconfig

[user]
	name = glegoux
	email = gilles.legoux@gmail.com
	logallrefupdates = true
[color]
	ui = auto
[core]
	editor = vim
	whitespace = -trailing-space
[merge]
	ff = false
	tool = kdiff3
[alias]
	st = status -u
	ci = commit
	br = branch
	co = checkout
	rf = reflog
	lg = log -g --pretty=oneline --abbrev-commit
	df = diff --color-words=.
	dfs = diff --staged --color-words=. HEAD
	slg = shortlog -sn
	unadd = reset HEAD --
	last = log -1 HEAD
	graph = log --graph --pretty=oneline --abbrev-commit --decorate
	search = log --pretty=format:'%C(yellow)%h%Cred%d%Creset - %C(cyan)%an %Creset: %s %Cgreen(%cr)' --grep
	show-commit = !sh 'git diff '$1'^ '$1
	show-stat-commit = diff-tree --no-commit-id --name-only -r
	show-file = !sh -c 'git show '$1:$2
	short-id = rev-parse --short
	long-id = rev-parse
	show-ignore = ls-files --others --ignored --exclude-standard
	reset-branch = "!_() { git checkout -B $1 origin/$1; }; _"
[commit]
	template = ~/.gitmessage
[diff]
	mnemonicPrefix = true
	renames = true
[pull]
	rebase = true
[push]
	default = simple
